.outer {
  display: flex;
  justify-content: center;
   flex-direction: row; 
  background-color: black;

  text-align: center;

}

.container {
  display: flex;
  gap: 10px;
  text-align: center;
}
body {
  background-color: rgb(164, 170, 241);
}
.card {
  background-color: rgb(207, 234, 226);
  border-radius: 5px;
  width: 200px;
  box-shadow: 1px 1px 10px 1px black;
}
.proce {
  font-size: x-large;
  font-weight: bold;
}
.plan {
  font-size: larger;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
button {
  background-color: #4b4b5a;
  color: azure;
  border-radius: 10px;
  margin-bottom: 10px;
}
